.body{
    min-height: calc(100vh - 10vh);
    width: 100%;
    margin-top: 3.5rem;
}
.banner{
    display: flex;
    background-color: var(--gray-100);
    width: 100%;
    align-items: center;
    justify-content: center;
}
.banner__message{
    width: 60%;
    font-size: 1.6rem;
    color: var(--main-color);
    align-items: center;
    justify-content: center;
}
.banner__img{
    width: 30%;
}
.banner__img>img{
    width: 80%;
}
.banner__button{
    padding: 9px 1.6rem;
    font-size: 1rem;                
    background-color: var(--main-color);
    color: var(--gray-0);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 0px 4px var(--main-color);
}

.banner__button:hover{
    color: var(--main-light);
}
.banner__button:active{
    box-shadow: none;
}


.input{
    width: 100%;
    padding: 0.3rem 0rem;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: var(--main-dark);
}
.input>p{
    color: var(--gray-0);
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: -5px;
}
.input>p>span{
    font-size: 1.5rem;
}
.input__section{
    width: 80%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.input__link{
    width: 70%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid white;
    padding-left: 10px;
    font-size: 1.1rem;
    color: var(--main-dark);
}
.input__button{
    height: 45px;
    background-color: var(--main-light);
    border: none;
    margin-left: 5px;
    border-radius: 5px;
    padding-inline: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--main-dark);
}
.input__button:hover{
    color: rgba(188, 218, 79, 0.884);
}
.input__button:active{
    box-shadow: inset 1px 0px 3px black;
}

.previous__links{
    background-color: rgba(255, 255, 255, 0.712);
    padding: 5px 0px;
    border-radius: 5px;
    margin-top: 5px;
    width: 81%;
    margin-left: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 1px; */
}

.linkItem:not(last-child){
    border-bottom: 2px solid var(--main-accent);
}

.linkItem{
    text-align: left;
    /* font-size: 0.9px; */
}
.linkItem>p>span{
    font-weight: bold;
    /* font-size: 2rem; */
}




.createAccount{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 0px;
    background-color: var(--gray-100);
    gap: 10px;
}
.createAccount__left{
    width: 50%;
    text-align: center;
}
.createAccount__left>img{
    width: 70%;
}
.createAccount__right{
    padding-inline: 1rem;
    padding-right: 4rem;
}

.createAccount__right>h4{
    font-size: 2rem;
}
.createAccount__right>p{
    font-size: 1.2rem;
}
.createAccount__button{
    padding: 10px 2rem;
    font-size: 0.9rem;
    background-color: var(--main-color);
    color: var(--gray-0);
    border-radius: 5px;
    border: none;
    box-shadow: 1px 0px 4px var(--main-color);
}
.createAccount__button:hover{
    color: var(--main-light);
}
.createAccount__button:active{
    box-shadow: none;
}


.analytics{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0px;
    gap: 20px;
}

.analytics__right{
    width: 50%;
}

.analytics__right>img{
    width: 70%;
}

.analytics__left{
    width: 50%;
    padding: 0px 1.2rem;
}

.analytics__left>h4{
    font-size: 2rem;
}
.analytics__left>p{
    font-size: 1.2rem;
}
.disabled{
    padding: 10px 2rem;
    font-size: 1rem;
    background-color: transparent;
    color: var(--main-color);
    border-radius: 5px;
    border: 2px solid var(--main-color);
    cursor: not-allowed;
}
.disabled:hover{
    color: var(--main-light);
    border-color: var(--main-light);
}

@media screen and (max-width: 600px) {
    .analytics{
        flex-direction: column-reverse;
        padding: 15px 5px;
    }
    .analytics__right, .analytics__left{
        width: 90%;
    }
    .createAccount{
        flex-direction: column;
    }
    .createAccount__left{
        width: 100%;
    }
    .createAccount__right>h4, .analytics__left>h4{
        font-size: 1.3rem;
        margin-bottom: 8px;
    }
    .createAccount__right>p, .analytics__left>p{
        font-size: 1rem;
    }
    .input>p,.input>p>span{
        font-size: 0.9rem;
    }
    .input__section{
        width: 100%;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }
    .input__link{
        width: 90%;
        height: 30px;
        font-size: 0.9rem;
    }
    .input__button{
        height: 35px;
        margin-top: 5px;
        width: 90%;
        margin-right: 9px;
    }
    .banner{
        flex-direction: column;
    }
    .banner__message{
        width: 80%;
        font-size: 1.2rem;
    }
    .banner__button{
        width: 50%;
        font-size: 0.7rem;
        padding: 9px 1rem;
    }
    .banner__img{
        width: 80%;
    }
    .body{
        margin-top: 3rem;
    }
    .previous__links{
        width: 90%;
        margin-left: 0.7rem;
        font-size: 0.9rem;
        overflow: hidden;
        /* background-color: blue; */
        padding-inline: 5px;
    }
    .linkP{
       font-size: 0.8rem;
        /* font-weight: bolder; */
    }
}

